{% extends 'main.html' %}

{% block content %}
<section id="home">

  <div class="statistics">
    <h2>SOME STATISTICS</h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <h1>{{ users_count }}</h1>
        <h3>REGISTERED USERS</h3>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <h1>{{ offers_count }}</h1>
        <h3>OFFERS</h3>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <h1>{{ companies_count }}</h1>
        <h3>REGISTERED COMPANIES</h3>
      </div>
    </div>
  </div>

  <div class="news">
    <h2>BUSINESS NEWS:</h2>
    {% for x in response %}
      <p><a href="{{ x.url }}" target="_blank">{{ x.title }}</a></p>
    {% endfor %}
  </div>


</section>

{% endblock %}