{% extends 'main.html' %}

{% block content %}

<section id="sign-up">
  <div class="container-fluid py-5">
    <div class="container my-5 p-5 m-auto">
      <h1>Sign up</h1>
      <div class="form-group">
        <form action="" method="POST">
          {% csrf_token %}
          {{ form.username}}
          {{ form.email}}
          {{ form.password1}}
          <input class="btn login_btn" type="submit" value="Sign up">
        </form>
      </div>
      <h5>Already signed up? <a href="{% url 'signIn' %}">Sign in insted</a></h5>
    </div>
  </div>
</section>

{% endblock %}