{% extends 'main.html' %}

{% block content %}

<section id="sign-up">
	<div class="container-fluid py-5">
    <div class="container my-5 p-5 m-auto">
      <h1>Sign up</h1>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Name and surname">
      </div>
      <div class="input-group mb-3">
        <input type="email" class="form-control" placeholder="Email address">
      </div>
      <div class="input-group mb-3">
        <input type="password" class="form-control" placeholder="Password">
      </div>
      <input class="btn login_btn" type="submit" value="Sign up">
    </div>
  </div>
</section>

{% endblock %}