{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% load static %}

<section id="sign-in">
  <div class="container-fluid py-5">
    <div class="container my-5 p-5 m-auto">
      <h1>Sign in</h1>
      <div class="form-group">
        <form action="" method="POST">
          {% csrf_token %}
          {{ form|crispy }}
          <input class="btn login_btn" type="submit" value="Sign in">
        </form>
        <h5>Forgot password? <a href="{% url 'signIn' %}">Reset</a></h5>
      <hr>
      <p><img src="{% static 'images/google-logo.png' %}"><img src="{% static 'images/facebook-logo.png' %}"></p>
      </div>
  </div>
</section>

{% endblock %}