{% extends 'main.html' %}

{% block content %}

<section id="sign">
  <div class="container-fluid py-5">
    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    <div class="container my-5 p-5 m-auto">
      <h1>Sign up HR account</h1>
      <div class="form-group">
        <form action="" method="POST">
          {% csrf_token %}
          {{ form.email }}
          {{ form.company }}
          {{ form.password }}
          <input class="btn login_btn" type="submit" value="Sign up" style="margin-top: 0.5em;">
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}