$beige: #dce2df;
$blue-1: #d8e8e8;
$blue-2: #a7d0da;
$blue-3: #406d96;
$blue-4: #2f3a56;
$red: #e2474b;

// MAIN
.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0 !important;
    .container-fluid {
        background-color: $beige;
    }
    .nav-item {
        font-size: 1.5em !important;
    }
    .nav-link {
        color: black !important;
    }
    .navbar-brand {
        font-size: 2em !important;
        background: linear-gradient(to right, $red, $blue-4); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        img {
            height: 2em;
        }
    }
}
.footer {
    background-color: $beige;
    .container-fluid {
        text-align: center;
    }
    svg {
        height: 8em;
        padding: 2em;
    }
}

// HOME
#home {
  a:link {
    color: $blue-4;
    text-decoration: none;
  }
  a:visited {
    color: $blue-3;
    text-decoration: none;
  }
  a:hover {
    color: $blue-4 !important;
    text-decoration: underline;
  }
}